

/*contact*/

.bars-bottom {
    margin-top: 0!important;
}

.div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    position: relative;
    background-image: url('../image/Contact/contact.jpg');
    height: 600px;
    width: auto;
}

.div1 {
    float: left;
    z-index: 3;
    margin-left: 50px;
    margin-top: 50px;
    position: absolute;
    color: #CFC547;
    text-shadow: 10px 10px 25px rgb(81,67,21),
    -10px 10px 25px rgb(81,67,21),
    -10px -10px 25px rgb(81,67,21),
    10px -10px 25px rgb(81,67,21);
}

.div2 {
    float: left;
    padding: 20px;
    margin-left: 570px;
    margin-top: 150px;
    position: absolute;
    z-index: 2;
    font-family: segoe ui light;
    font-size: 18px;
    font-weight: 600;
    color: #09515e;
    font-style: italic;
    background-color: rgba(181, 235, 235, 0.336);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#div3 {
    position: absolute;
    margin-top: 40px;
    width: 840px;
    height: 550px;
    background-color: rgba(255, 255, 255, 0.007);
    z-index: 1;
}

input {
    width: 423px;
    height: 35px;
    border-radius: 10px;
}

button {
    height: 35px;
    width: 180px;
    margin-top: 30px;
    background-color: darkturquoise;
    color: rgb(0, 0, 0);
    border: double;
    border-radius: 10px;
}